<div class="row-fluid">
{{#each cards}}
  <div id="card_{{this.id}}" class="span12 {{ classFromLabels this.labels }}">
    
    <h2>
      {{#if this.due}}
      <em>{{ formatDate this.due }} &nbsp;</em>
      {{/if}}
      <strong>{{ this.name }}</strong>
    </h2>
    
    <p>{{ markdown this.desc }}</p>
    
    {{# if this.actions }}
      <ul class="notes">
      {{# each this.actions}}
        <li>
          {{ trelloAction this }}
        </li>
      {{/each}}
      <ul>
    {{/if}}
    
    <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
  </div><!--/span-->
{{/each}}
</div>
